@font-face {
  font-family: 'PxPLus IBM VGA8';
  src: url('src/app/home/PxPlus_IBM_VGA8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: PxPlus IBM VGA8;
}

#container {
  text-align: center;
  padding: 20px;
}

.error-message {
  color: #f04141;
  font-size: 12px;
  margin-top: 8px;
  display: block;
}

#container ion-button {
  --background: rgba(245, 245, 220, 0.59);
  --color: rgb(69, 33, 17);
  font-weight: bold;
}

#container ion-input {
  margin-top: 10px;
}

#container ion-label {
  font-size: 24px;
}

.toolbar-title {
  text-align: center;
}

.label-font {
    font-family: PxPlus IBM VGA8!important;
}

img {
  max-width: 200px;
  border-radius: 12px;
  border: 1px solid;
  border-color: bisque;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}