<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catalogo.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <button (click)="listarCriaturas()" type="button">Listar Criaturas.</button>
    <div *ngIf="mostrar_lista_criaturas == true">
      <div *ngFor="let Criaturas of listaCriaturas">
        ID: {{ Criaturas.id }},
        Nome: {{ Criaturas.nome }},
        Tipo: {{ Criaturas.tipo }},
        Nível de perigo: {{ Criaturas.nivelPerigo }},
        Descrição: {{ Criaturas.descricao}}.
      </div>
    </div>
    <br>
    <button (click)="listarCatalogo()" type="button">Criaturas catalogadas.</button>
    <div *ngIf="mostrar_lista_catalogo == true">
      Catalogadas:
      <div *ngFor="let Criaturas of filtrarCriaturas(true)">
        ID: {{ Criaturas.id }},
        Nome: {{ Criaturas.nome }},
      </div>
      Não catalogadas:
      <div *ngFor="let Criaturas of filtrarCriaturas(false)">
        ID: {{ Criaturas.id }},
        Nome: {{ Criaturas.nome }},
      </div>
    </div>
</div>
</ion-content>
