#container {
  text-align: center;
  padding: 20px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.error-message {
  color: #f04141;
  font-size: 12px;
  margin-left: 16px;
  margin-top: 8px;
  display: block;
}

#container ion-button {
  --background: rgba(245, 245, 220, 0.59);
  --color: rgb(69, 33, 17);
  font-weight: bold;
  border-radius: 10px;
}
